<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Short+Stack&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Restauran Apps</title>
  </head>
  <body>
    <header class="containerHeader">
      <!-- navbarContent -->
      <nav class="navbar">
        <div class="brand">Rwst</div>
        <div class="navContent">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Favorite</a></li>
            <li><a href="https://www.linkedin.com/in/michsannr/">About Us</a></li>
          </ul>
        </div>
        <div class="hamburger" id="hamburger">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </nav>

      <!-- hero section -->
      <section id="Home">
        <div class="hero">
          <div class="containerHero">
            <div class="rowHero">
              <p class="welcome">Welcome to Rwst resto</p>
              <div class="punchline">Are you ready to rumbling, <span>your stomach?</span></div>
              <p class="punchline-2">Serving you since the void century</p>
              <button class="btn">Lihat Menu</button>
            </div>
          </div>
        </div>
      </section>
    </header>

    <main></main>
  </body>
</html>
